*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Desktop project
node_modules/
desktop/app/node_modules/
package-lock.json
desktop/app/package-lock.json
desktop/service/.venv/

# IDE files
.idea/

# Keystore files
*.keystore

# Signing properties
signing.properties
/release.keystore
/release
.vscode
